/* shared styles */
.lexend-font {
  font-family: "Lexend", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* nav bar styles */


/* main part */

.margin-main{

}